<div class="home-sidebar">
  <div class="sidebar-button">
    <button class="burger-button" id="burger-menu"><img src="../../../assets/burger-menu.svg" alt="Button Menu"/></button>
    <p>Menu</p>
  </div>
  <div class="sidebar">
    <div class=" ">
      <div class="sidebarPlaylist-title">
        <p>Programación</p>
        <!-- <button class="sidebarPlaylist-title-btn" data-category="Categorias"> <img src="src/images/covers/arrow.svg" alt="Button arrow"></button> -->
      </div>
      <ul class="playlistFriends" id="playlistFriends">
       
      </ul>
    </div>
    <div class="sidebarPlaylist">
      <div class="sidebarPlaylist-title">
        <p>Gestión de operaciones</p>
        <!-- <button class="sidebarPlaylist-title-btn" data-category="myBoks"> <img src="src/images/covers/arrow.svg" alt="Button arrow"></button> -->
      </div>
      <ul class="sidebarPlaylist-favorites">
      </ul>
    </div>

    <div class="sidebarPlaylist">
      <div class="sidebarPlaylist-title">
        <p>Perfiles</p>
        <!-- <button class="sidebarPlaylist-title-btn" data-category="myBoks"> <img src="src/images/covers/arrow.svg" alt="Button arrow"></button> -->
      </div>
      <ul class="sidebarPlaylist-favorites">
      </ul>
    </div>

    <div class="sidebarPlaylist">
      <div class="sidebarPlaylist-title">
        <p>Roles</p>
        <!-- <button class="sidebarPlaylist-title-btn" data-category="myBoks"> <img src="src/images/covers/arrow.svg" alt="Button arrow"></button> -->
      </div>
    </div>

    <div class="sidebarPlaylist">
      <div class="sidebarPlaylist-title">
        <p>Usuarios</p>
        <!-- <button class="sidebarPlaylist-title-btn" data-category="myBoks"> <img src="src/images/covers/arrow.svg" alt="Button arrow"></button> -->
      </div>
    </div>

    <div class="sidebarPlaylist">
      <div class="sidebarPlaylist-title">
        <p>Reportes</p>
        <!-- <button class="sidebarPlaylist-title-btn" data-category="myBoks"> <img src="src/images/covers/arrow.svg" alt="Button arrow"></button> -->
      </div>
      <ul class="sidebarPlaylist-favorites">
      </ul>
    </div>

  </div>
</div>
