<section class="container">
  <h2 margin="0 auto">Roles existentes</h2>
  <!-- <div class="container">
    <div class="interior">
      <a class="btn" (click)="newRole()">Crear</a>
    </div>
  </div> -->
  <div class="container__table">
    <table cellpadding="0" cellspacing="40" class="container__table--table">
      <thead>
        <tr >
          <th *ngFor="let header of rolesTableHeaders" margin="10px">{{header}}</th>
        </tr>
        <tr *ngFor="let rol of (roles$ | async)">
          <th>
            <p *ngFor="let user of rol.users">{{user.name}}</p>
          </th>
          <th>
            <p *ngFor="let user of rol.users">{{user.lastName}}</p>
          </th>
          <th>
            <p *ngFor="let user of rol.users">{{rol.name}}</p>
          </th>
          <th>
            <p *ngFor="let user of rol.users">{{user.state}}</p>
          </th>
          <th>
            <p *ngFor="let user of rol.users">{{user.tel}}</p>
          </th>
          <th>
            <p *ngFor="let user of rol.users">{{user.email}}</p>
          </th>
        </tr>
      </thead>
    </table>
  </div>
</section>